@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import 'tailwindcss';

@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';
@import 'swiper/css/grid';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  /* Colors */
  --color-salmon: #fe8b7c;
  --color-yellow: #fdc344;
  --color-white: #ffffff;
  --color-neutral-0: #f8fafb;
  --color-neutral-25: #f6f8fa;
  --color-neutral-50: #eceff3;
  --color-neutral-100: #dfe1e7;
  --color-neutral-200: #c1c7d0;
  --color-neutral-300: #a4acb9;
  --color-neutral-400: #818898;
  --color-neutral-600: #36394a;
  --color-neutral-800: #1a1b25;
  --color-neutral-900: #111827;

  --color-mbti-blue: #4298b4;
  --color-mbti-yellow: #e4ae3a;
  --color-mbti-green: #33a474;
  --color-mbti-purple: #88619a;
  --color-mbti-red: #f25e62;

  --color-system-success: #1c9c8c;
  --color-system-alert: #fe4e52;
  --color-system-warning: #e18528;
  --color-system-info: #26a9f1;

  /* Font family */
  --font-heading: 'Funnel Display', sans-serif;
  --font-sans: 'Sora', sans-serif;

  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 840px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Animation */
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-fade-in: fade-in 0.3s ease-out forwards;
}

@layer components {

  /* Button  */
  /* Contained */
  .btn-contained-primary {
    @apply text-white font-semibold hover:brightness-110 hover:shadow-lg;
    background: linear-gradient(270deg, #fe8b7c 0%, #fdc344 100%);
  }

  .btn-contained-secondary {
    @apply text-white font-semibold hover:brightness-110 hover:shadow-lg;
    background: linear-gradient(270deg, #fe8b7c 0%, #fdc344 100%),
      linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  }

  .btn-contained-tertiary {
    @apply text-white font-semibold hover:brightness-110 hover:shadow-lg;
    background: linear-gradient(270deg, #fe8b7c 0%, #fdc344 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  }

  /* Outlined */
  .btn-outlined-primary {
    @apply bg-neutral-0 text-neutral-600 font-semibold border border-neutral-300 hover:bg-neutral-50;
  }

  .btn-outlined-secondary {
    @apply text-neutral-600 font-semibold border border-salmon hover:bg-[#FF9E2C]/10;
    background: linear-gradient(270deg, rgba(254, 139, 124, 0.2) 0%, rgba(253, 195, 68, 0.2) 100%);
  }

  .btn-outlined-tertiary {
    @apply text-neutral-600 font-semibold border border-salmon hover:bg-[#FF9E2C]/10;
    background: linear-gradient(270deg, rgba(254, 139, 124, 0.5) 0%, rgba(253, 195, 68, 0.5) 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  }

  /* Border gradient */
  .border-gradient {
    @apply relative bg-white box-border;
  }

  .border-gradient::before {
    content: '';
    @apply absolute -top-[1.5px] -left-[1.5px] -right-[1.5px] -bottom-[1.5px] -z-10;
    background-image: linear-gradient(270deg, #fe8b7c 0%, #fdc344 100%);
    border-radius: inherit;
  }

  /* Circle border gradient */
  .circle {
    @apply relative rounded-full text-center p-1 box-border bg-white;
  }

  .circle::before {
    content: '';
    @apply absolute rounded-full -top-[2px] -left-[2px] -right-[2.5px] -bottom-[2.5px] -z-10;
    background-image: linear-gradient(270deg, #fe8b7c 0%, #fdc344 100%);
  }

  /* Radio */
  .custom-radio {
    @apply appearance-none w-5 h-5 rounded-full border border-neutral-200 hover:border-salmon hover:shadow-xl cursor-pointer relative transition-colors duration-400;
  }

  .custom-radio:checked {
    @apply border-salmon bg-salmon;
  }

  .custom-radio::after {
    content: '';
    @apply w-2.5 h-2.5 rounded-full bg-white absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 scale-0 transition-transform duration-400 ease-out;
  }

  .custom-radio:checked::after {
    @apply scale-100;
  }
}

@layer utilities {

  /* Text gradient  */
  .text-gradient {
    @apply bg-linear-270 from-salmon to-yellow inline-block text-transparent bg-clip-text;
  }

  /* Scroll  */
  .scroll-stable {
    scrollbar-gutter: stable both-edges;
  }

  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgba(17, 24, 39, 0.35);
    border-radius: 9999px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-hide {
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}